*{
    padding: 0;
    margin: 0;
}
:root{
    --roxo:#6C63FF;
    --lilas:#D7D4FF;
    --white200:#EBE9EA;
    --gray:#474747;
}



@font-face {
    font-family:'Lato Regular' ;
    src: url('../assets/font/Lato-Regular.ttf');
}


@font-face {
    font-family:'Merriweather Bold' ;
    src: url('../assets/font/Merriweather-Bold.ttf');
}


@font-face {
    font-family:'Merriweather Regular' ;
    src: url('../assets/font/Merriweather-Regular.ttf');
}


