@import url(library.css);


*{
    padding: 0;
    margin: 0;
}

header{
    height: 23vh;
    width: 100%;
    
    width: 100%;
    background-color: var(--lilas);
}

section{
    height: auto;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto; 
    gap: 10px;

}



div{
    width: 20%;
    height: 20%;
    background-color: blue;
}
footer{
    height: 30vh;
    width: 100%;
    background-color: var(--lilas);
}